head
  meta(charset='utf-8')
  title Colaborador
  link(rel='stylesheet', href='style.css')
  link(rel="shortcut icon" href="../ico.png")
  script(src="script.js")
body
  header
    h1 Ordens de Serviço #{colaborador.nome}
  main
    if colaborador.setor = "Manutenção"
      each os in colaborador.executadas
        div
          h2 OS #{os.id}
          p Descrição: #{os.descricao}
          p Colaborador: #{os.colaborador}
          p Executor: #{os.executor}
          p Aberto em: #{os.abertura}
          p Concluído em: #{os.encerramento}
    each os in colaborador.abertas
      div
        h2 OS #{os.id}
        p Descrição: #{os.descricao}
        p Colaborador: #{os.colaborador}
        p Executor: #{os.executor}
        p Aberto em: #{os.abertura}
        p Concluído em: #{os.encerramento}
