head
  meta(charset='utf-8')
  title Colaborador
  link(rel='stylesheet', href='style.css')
  link(rel="shortcut icon" href="../ico.png")
  script(src="script.js")
body
  header
    h1 Ordens de Serviço #{colaborador.nome}
  main
    if colaborador.setor == "Manutenção"
      h2 Para Trabalhar
      each os in colaborador.executadas
        if os.encerramento == undefined
          div(class="trabalhando")
            h2 OS #{os.id}
            p Descrição: #{os.descricao}
            p Colaborador: #{os.colaborador}
            p Executor: #{os.executor}
            p Aberto em: #{os.abertura}
            p Concluído em: #{os.encerramento}
            form
              input(type="hidden", name="id", value=os.id)
              input(type="submit", value="Concluir")
    h2 Abertas por mim
    each os in colaborador.abertas
      if os.encerramento == undefined
        div(class="aberta")
          h2 OS #{os.id}
          form(action=`/os/update?_method=PUT`, method='POST')
            input(type="hidden", name="id", value=os.id)
            input(type="hidden", name="matricula", value=colaborador.matricula)
            p Descrição:
              textarea(name="descricao")=os.descricao
            p Aberto por matrícula #{os.colaborador}
            p Atribuído para executor matrícula: #{os.executor}
              select(name="executor")
                each executor in executores
                  option(value=executor.matricula) #{executor.matricula} - #{executor.nome}
            p Aberto em: #{os.abertura}
            input(type="submit", value="Alterar")
          form(action=`/os/del/${os.id}?_method=DELETE`, method='POST')
            input(type="hidden", name="id", value=os.id)
            input(type="hidden", name="matricula", value=colaborador.matricula)
            input(type="submit", value="Excluir")
          form
            input(type="hidden", name="id", value=os.id)
            input(type="submit", value="Detalhes")
      else
        div(class="concluida")
          h2 OS #{os.id}
          p Descrição: #{os.descricao}
          p Colaborador: #{os.colaborador}
          p Executor: #{os.executor}
          p Aberto em: #{os.abertura}
          p Concluído em: #{os.encerramento}
          form
            input(type="hidden", name="id", value=os.id)
            input(type="submit", value="Detalhes")
